# Auto detect text files and perform LF normalization
# Normalize the files on commit, and always convert them to LF on checkout
* text=auto

# Scripts should maintain Unix line endings
*.sh text eol=lf

# Definitively text files 
*.txt text
*.c text
*.h text

# Ensure those won't be messed up with
*.jpg binary
*.data binary
