# Auto detect text files convert to LF on checkout and commit
* text eol=lf

# Definitively text files
*.txt text

# Ensure those won't be messed up with
*.jpg binary
*.data binary
*.png binary
*.ttf binary
*.otf binary
*.eot binary
*.box binary
